<section class="page-section Blog-page page-section-41 page-section-current">
   <div class="row menu-row div-continer p-0 mb-4">
       <div class="col-lg-10 col-md-8 col-sm-12 p-0 mt-0 content-logo">
         <div class="logo-anpg">
            <img src="assets/images/iona_logo.png">
         </div>
       </div>
       <div class="col-lg-2 col-md-4 col-sm-12 p-0 mt-5 columns menu-button">           
         <a class="showMenu" routerLink="/"><i class="fa-home fa icon-x back"></i></a> 
       </div>
   </div>
   <div class="row clear-fix div-continer">
       <div class="row blog-page">
         <div id="container">
               <strong [innerHtml]="errorCode"></strong>
               <p [innerHtml]="errorMessage"></p>
         </div>

       </div>
   </div>
</section>