<nav class="vertical-menu close on-hover-show">
    <a class="showMenu"><i class="remove back"></i></a>
    <h3 class="text-center">
       <a routerLink="/"></a>
    </h3>
    <form id='search' class="searchform" action="" role="search" method='get' accept-charset="UTF-8">
       <div class="container-inline">
          <div class="form-item form-type-textfield form-item-search-block-form">
             <label class="element-invisible" for="edit-search-block-form--2">Search</label>
             <input title="Enter the terms you wish to search for." class="small-8 columns form-text" type="text" id="edit-search-block-form--2" name="s" value="" size="15" maxlength="128" />
          </div>
          <button class="postfix small-4 columns form-submit" id="edit-submit--2" name="op" value="Search" type="submit">Search</button>
       </div>
    </form>
    <br/>
    <br/>
    <div class="menu-menu-1-container">
       <ul id="menu-menu-1" class="menu-list">
          <li>
             <a href="index.html#home"><i class="fa-home fa"></i>Home</a>
          </li>
          <li>
             <a href="index.html#Contact"><i class="fa-envelope fa color--117"></i>Contact</a>
          </li>
          <li>
             <a href="index.html#Services"><i class="fa-puzzle-piece fa color--63"></i>Services</a>
          </li>
          <li>
             <a href="index.html#Portfolio"><i class="fa-briefcase fa color--57"></i>Portfolio</a>
          </li>
          <li>
             <a href="index.html#About"><i class="fa-comment fa color--60"></i>About</a>
          </li>
          <li>
             <a href="index.html#Blog"><i class="fa-comments-o fa color--41"></i>Blog</a>
          </li>
          <li>
             <a href="index.html#Team"><i class="fa-users fa color--21"></i>Team</a>
          </li>
       </ul>
    </div>
 </nav>
