<nav class="vertical-menu close on-hover-show">
    <a class="showMenu"><i class="remove back"></i></a>
    <h3 class="text-center">
       <a routerLink="/"></a>
    </h3>
    <form id='search' class="searchform" action="" role="search" method='get' accept-charset="UTF-8">
       <div class="container-inline">
          <div class="form-item form-type-textfield form-item-search-block-form">
             <label class="element-invisible" for="edit-search-block-form--2">Procurar</label>
             <input title="Enter the terms you wish to search for." class="small-8 columns form-text" type="text" id="edit-search-block-form--2" name="s" value="" size="15" maxlength="128" />
          </div>
          <button class="postfix small-4 columns form-submit" id="edit-submit--2" name="op" value="Search" type="submit">Procurar</button>
       </div>
    </form>
    <br/>
    <br/>
    <div class="menu-menu-1-container">
       <ul id="menu-menu-1" class="menu-list">
          <li *ngFor='let item of items'>
             <a [routerLink]="item.href"><i [class]="item.class"></i>{{item.label}}</a>
          </li>
       </ul>
    </div>
 </nav>
