<nav class="vertical-menu close on-hover-show">
   <div class="text-right languague-toolbar">
      <a (click)="languageChange('en_US')" class="flag-icon"><img src="assets/images/Bandeira_UK.png"></a>
      <a (click)="languageChange('pt_PT')" class="flag-icon"><img src="assets/images/bandeira_AO.png"></a>
   </div>

   <br/>
   <div class="menu-menu-1-container">
      <ul id="menu-menu-1" class="menu-list">
         <li *ngFor='let item of items'>
            <a [routerLink]="item.href"><i [class]="item.className" [style]="'color:'+item.Color"></i>{{item.label}}</a>
         </li>
      </ul>
   </div>
</nav>

