<app-spinner></app-spinner>
<section class="page-section Blog-page page-section-41 page-section-current">
    <div class="row menu-row div-continer mb-4">
        <div class="col-lg-10 col-md-8 col-sm-12 p-0 mt-3 content-title">
            <h1 class="site-name" translate>
                faqs.title
            </h1>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 p-0 mt-3 columns menu-button">
            <a class="showMenu" routerLink="/"><i class="fa-arrow-left fa icon-x back"></i></a>
            <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>  
        </div>
    </div>
    <div class="row clear-fix div-continer">
        <div class="row blog-page">

                    <div class="card">
                        <div class="card-body">
                            <ngb-accordion #acc="ngbAccordion" >
                                <ngb-panel *ngFor="let faq of faqs; let i = index" id="toggle-{{i}}" [title]="faq.duvidas">
                                  <ng-template ngbPanelContent>
                                    <p>{{faq.respostas}}</p>
                                  </ng-template>
                                </ngb-panel>
                              </ngb-accordion>

                        </div>
                    </div>

        </div>
    </div>
</section>




