ng-image-slider ::ng-deep {
    .main {
        min-height: 180px !important;
        max-height: 180px !important;
        .main-inner {
            height: 180px !important;
        }
    }
}
.portfolio-page-menu {
    margin-top: 3%;
}

.project-images {
    img {
        height: 489px;
        width: 367px;
        left: 294px;
        top: 406px;
        border-radius: 10px;
        
    }
}
#content {
    height: 500px;
}
.scrollable-content {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(0);
    padding: 40px;
    margin-top: 40px;
}

.figure-image {
    width: 300px;
    height: 180px;
}

.project-info {
    background: #ffffff;
    margin: 20px 0;
    top: 40px;
    padding: 20px 20px 30px;
    position: relative;
}

.page-section-57 {
    background: #e5e5e5;
}

.project-title {
    color: black;
    font-family: Franklin Gothic Medium;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;

}



p {
    text-align: justify !important;
    font-family: Franklin Gothic Book;
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.pricing-table .description {
    background-color: rgba(255, 255, 255, 0.9) !important;

    text-align: justify !important;

    font-size: 0.8em !important;
}
