<app-spinner></app-spinner>
<section class="page-section Portfolio-page page-section-57 page-section-current">
   <div class="row menu-row">
      <div class="large-1 go-back">
         <i class="fa-arrow-left fa icon-x back" routerLink="/anpg/pacotes"></i>
      </div>
      <div class="large-7 columns p-l-0 content-title">
         <h1 class="site-name">Pacote de Dados</h1>
      </div>
      <div class="large-4 columns menu-button text-right">
         <a class="showMenu" routerLink="/"><i class="fa-home fa icon-x back"></i></a>
         <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
         <a class="showMenu displayMenu search"><i class="fa-search fa icon-x back"></i></a>
      </div>
   </div>
   <div class="row clear-fix">
      <!-- PORTFOLIO PACOTE DE DADOS -->
      <div class="row portfolio-page">
         <!-- PORTFOLIO PACOTE DE DADOS MENU -->
         <ul *ngIf="pacote && pacote.allGroupDocuments"
            class="small-block-grid-1 large-block-grid-5 portfolio-page-menu">
            <li *ngFor="let group of pacote.allGroupDocuments; let i = index" class="article portfolio-item" id="14"
               (click)="section='infoBasic'">
               <figure>
                  <img class="figure-image" width="500" height="380" [src]="group.tipoDocumento.image"
                     [alt]="group.tipoDocumento.title" />
                  <figcaption class="text-center" (click)="showSectionDocuments(i)">
                     <h3>{{group.tipoDocumento.title}}</h3>
                  </figcaption>
               </figure>
               <span class="plus-icon flipOutX"><i class="fa-plus fa" (click)="showSectionDocuments(i)"></i></span>

            </li>
         </ul>
         <div *ngIf="pacote && sectionIndex==0" id="project-info">
            <div id="content">
               <i class="fa-times fa back" (click)="sectionIndex=-1"></i>
               <div class="scrollable-content">
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">{{pacote.nomePacote}}</h2>
                     </div>

                     <div class="large-6 columns">
                        <div class="project-images">
                           <div class="item-list">
                              <ul class="">
                                 <li>
                                    <a href="#">
                                       <img alt="13tndZF" class="attachment-project-thumb" [src]="pacote.imagemPacote">
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="large-6 columns project-content">
                        <p>{{pacote.descricaoPacote}}</p>
                     </div>
                  </div>
                  <!--BLOCOS Y POCOS -->
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">Blocos y Pocos</h2>
                     </div>
                     <div class="large-6 columns">
                        <div class="project-images">
                           <div class="item-list">
                              <ul class="">
                                 <li>
                                    <a href="#">
                                       <img width="450" height="380" alt="13tndZF" class="attachment-project-thumb"
                                          src="/assets/images/image-pocos.jpeg">
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="large-6 columns project-content">
                        <div class="row">
                           <div class="large-11 columns">
                              <h3 class="project-title"></h3>
                           </div>
                        </div>
                        <div class="row">
                           <div class="large-12 columns" *ngFor="let bloco of pacote.bacia.blocos">
                              <ul class="pricing-table">
                                 <li class="title">{{bloco.nomeBloco}}</li>
                                 <li class="price"></li>
                                 <li class="description">{{bloco.descripBloco}}</li>
                                 <li class="bullet-item" *ngFor="let poco of bloco.pocos">{{poco.nomePoco}}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="pacote && groupDocumentsSelected && sectionIndex>0" id="project-info">
            <div id="content">
               <i class="fa-times fa back" (click)="section=-1"></i>
               <div class="scrollable-content">
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">{{groupDocumentsSelected.tipoDocumento.title}}</h2>
                     </div>
                     <br>
                     <br>
                     <br>
                     <br>
                     <div class="large-12 columns project-content">
                        <div class="container">
                           <div class="row">
                              <div class="large-12 columns">
                                 <ul class="pricing-table">
                                    <li class="title">Documentos</li>
                                    <li class="bullet-item" *ngFor="let doc of groupDocumentsSelected.documentos">
                                       {{doc.nomeDoc}}
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


      </div>
      <!-- END PORTFOLIO/> -->
   </div>
</section>