<app-spinner></app-spinner>
<section class="page-section Portfolio-page page-section-57 page-section-current">
   <div class="row menu-row">
      <div class="large-1 go-back">
         <i class="fa-arrow-left fa icon-x back" routerLink="/anpg/pacotes"></i>
      </div>
      <div class="large-7 columns p-l-0 content-title">
         <h1 class="site-name">Pacote de Dados</h1>
      </div>
      <div class="large-4 columns menu-button text-right">
         <a class="showMenu" routerLink="/"><i class="fa-home fa icon-x back"></i></a>
         <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
         <a class="showMenu displayMenu search"><i class="fa-search fa icon-x back"></i></a>
      </div>
   </div>
   <div class="row clear-fix">
      <!-- PORTFOLIO PACOTE DE DADOS -->
      <div class="row portfolio-page">
         <!-- PORTFOLIO PACOTE DE DADOS MENU -->
         <div *ngIf="pacote" style="width: 100%; min-height: 139px; text-align:center;margin:auto; padding:3px;">
            <ng-image-slider
            [images]="pacote.groupDocumentsTypes"
            [infinite]="false"
            [autoSlide]="1"
            [imageSize]="{width: '300px', height:'139px'}"
            (imageClick)="showSectionDocuments($event)" 
            [imagePopup]='false'
            slideImage="1" #nav></ng-image-slider>
        </div>
         <ul 
            class="small-block-grid-1 large-block-grid-5 portfolio-page-menu">
         </ul>
         <div *ngIf="pacote && sectionIndex==0" id="project-info">
            <div id="content">
               <i class="fa-times fa back" (click)="sectionIndex=-1"></i>
               <div class="scrollable-content">
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">{{pacote.nomePacote}}</h2>
                     </div>
                     <div class="large-6 columns">
                        <div class="project-images">
                           <div class="item-list">
                              <ul>
                                 <li>
                                    <a href="#">
                                       <img alt="13tndZF" class="attachment-project-thumb" [src]="pacote.imagemPacote">
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="large-6 columns project-content">
                        <p >{{pacote.descricaoPacote}}</p>
                     </div>
                  </div>
                  <br>
                  <br>
                  <!--BLOCOS Y POCOS -->
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">Blocos y Pocos</h2>
                     </div>
                     <div class="large-6 columns">
                        <div class="project-images">
                           <div class="item-list">
                              <ul>
                                 <li>
                                    <a href="#">
                                       <img width="450" height="380" alt="13tndZF" class="attachment-project-thumb"
                                          src="/assets/images/image-pocos.jpeg">
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="large-6 columns project-content">
                        <div class="row" *ngFor="let bacia of pacote.bacias" style="border: 2px solid whitesmoke; padding-top: 10px;">
                           <div class="large-12 columns">
                              <div class="row">
                                 <div class="large-4 columns">
                                    <div style="font-size: 1.5em !important;">
                                       {{bacia.nomeBacia}} 
                                    </div>
                                 </div>
                                 <div class="large-8 columns" *ngFor="let bloco of bacia.blocos">
                                    <ul class="pricing-table">
                                       <li class="title">{{bloco.nomeBloco}}</li>
                                       <li class="description">{{bloco.descripBloco}}</li>
                                       <li class="bullet-item" *ngFor="let poco of bloco.pocos">{{poco.nomePoco}}</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> 

                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="pacote && groupDocumentsSelected && sectionIndex>0" id="project-info">
            <div id="content">
               <i class="fa-times fa back" (click)="section=-1"></i>
               <div class="scrollable-content">
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">{{groupDocumentsSelected.tipoDocumento.title}}</h2>
                     </div>
                     <br>
                     <br>
                     <br>
                     <br>
                     <div *ngIf="groupDocumentsSelected.hasPacoteDocuments" class="large-12 columns project-content">
                        <div class="container">
                           <div class="row">
                              <div class="large-12 columns">
                                 <ul class="pricing-table">
                                    <li class="title">Documentos Pacote</li>
                                    <li class="bullet-item" *ngFor="let doc of groupDocumentsSelected.documentos">
                                      <a href="/">{{doc.nomeDoc}} <i class="fa fa-download" aria-hidden="true"></i> </a> 
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="groupDocumentsSelected.hasBaciasDocuments" class="large-12 columns project-content">
                        <div class="container">
                           <div class="row">
                              <div class="large-12 columns">
                                 <ul class="pricing-table">
                                    <li class="title">Documentos Bacia</li>
                                    <div *ngFor="let bacia of groupDocumentsSelected.pacoteBacias">
                                       <li class="bullet-item" *ngIf="bacia.documentos">
                                          <div class="row">
                                             <div class="large-4 columns">
                                                {{bacia.nomeBacia}}
                                             </div>
                                             <div class="large-8 columns">
                                                <ul>
                                                   <li *ngFor="let doc of bacia.documentos">
                                                      <a href="/"> {{doc.nomeDoc}} <i class="fa fa-download" aria-hidden="true"></i> </a> 
                                                   </li>      
                                                 </ul>
                                             </div>
                                          </div>                                
                                       </li>
                                    </div>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div *ngIf="groupDocumentsSelected.hasBlocosDocuments" class="large-12 columns project-content">
                        <div class="container">
                           <div class="row">
                              <div class="large-12 columns">
                                 <ul class="pricing-table">
                                    <li class="title">Documentos Blocos</li>
                                    <div *ngFor="let bloco of groupDocumentsSelected.pacoteBlocos">
                                       <li class="bullet-item" *ngIf="bloco.documentos">
                                          <div class="row" >
                                             <div class="large-4 columns">
                                                {{bloco.nomeBloco}}
                                             </div>
                                             <div class="large-8 columns">
                                                <ul>
                                                   <li *ngFor="let doc of bloco.documentos">
                                                      <a href="/"> {{doc.nomeDoc}} <i class="fa fa-download" aria-hidden="true"></i> </a> 
                                                   </li>      
                                                 </ul>
                                             </div>
                                          </div>                           
                                       </li>
                                    </div>

                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div> 
                     <div *ngIf="groupDocumentsSelected.hasPocosDocuments" class="large-12 columns project-content">
                        <div class="container">
                           <div class="row">
                              <div class="large-12 columns">
                                 <ul class="pricing-table">
                                    <li class="title">Documentos Pocos</li>
                                    <div *ngFor="let bloco of groupDocumentsSelected.pacotePocos">
                                       <li class="bullet-item">
                                          <div class="row" >
                                             <div class="large-4 columns">
                                                {{bloco.nomeBloco}}
                                             </div>
                                             <div class="large-8 columns">
                                                <ul>
                                                   <li *ngFor="let poco of bloco.pocos">
                                                     {{poco.nomePoco}}
                                                     <ul>
                                                      <li *ngFor="let doc of poco.documentos">
                                                         <a href="/"> {{doc.nomeDoc}} <i class="fa fa-download" aria-hidden="true"></i> </a> 
                                                      </li>
                                                    </ul>
                                                   </li>
                                                 </ul>
                                             </div>
                                          </div>                                     
                                       </li>
                                    </div>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>                                          
                  </div>
               </div>
            </div>
         </div>


      </div>
      <!-- END PORTFOLIO/> -->
   </div>
</section>