<section class="page-section Portfolio-page page-section-57 page-section-current">
   <div class="row menu-row">
      <div class="large-1 go-back">
         <i class="fa-arrow-left fa icon-x back" routerLink="/anpg/pacotes"></i>
      </div>
      <div class="large-7 columns p-l-0 content-title">
         <h1 class="site-name">Pacote de Dados</h1>
      </div>
      <div class="large-4 columns menu-button text-right">
         <a class="showMenu" routerLink="/"><i class="fa-home fa icon-x back"></i></a>
         <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
         <a class="showMenu displayMenu search"><i class="fa-search fa icon-x back"></i></a>
      </div>
   </div>
   <div class="row clear-fix">
      <!-- PORTFOLIO class="hide" -->
      <div class="row portfolio-page">
         <div *ngIf="section=='infoBasic'" id="project-info">
            <div id="content">
               <i class="fa-times fa back" (click)="section=''"></i>
               <div class="scrollable-content">
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">{{pacote.nomePacote}}</h2>
                     </div>
   
                     <div class="large-6 columns">
                        <div class="project-images">
                           <div class="item-list">
                              <ul class="">
                                 <li>
                                    <a href="#">
                                       <img alt="13tndZF" class="attachment-project-thumb"
                                          [src]="pacote.imagemPacote">
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="large-6 columns project-content">
                        <p>{{pacote.descricaoPacote}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="section=='dadosGeo'" id="project-info">
            <div id="content">
               <i class="fa-times fa back" (click)="section=''"></i>
               <div class="scrollable-content">
                  <div class="row">
                     <div class="large-11 columns">
                        <h2 class="project-title">Dados Geológicos</h2>
                     </div>
                     <div class="large-6 columns">
                        <div class="project-images">
                           <div class="item-list">
                              <ul class="">
                                 <li>
                                    <a href="#">
                                       <img width="450" height="380" alt="13tndZF" class="attachment-project-thumb"
                                          src="/assets/images/image-pocos.jpeg">
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="large-6 columns project-content">
                        <div class="row">
                           <div class="large-11 columns">
                              <h3 class="project-title">Pocos</h3>
                           </div>
                        </div>
                        <div class="container">
                           <div class="row">
                              <div class="large-6 columns" *ngFor="let bloco of pacote.bacia.blocos">
   
                                 <div class="container">
                                    <div class="row">
                                       <div class="large-6 columns">
                                          <div class="container">
                                             <div class="row">
                                                <div class="large-12 columns">
                                                   {{bloco.nomeBloco}}
                                                </div>
                                             </div>
                                             <!-- /.row -->
                                          </div>
                                       </div>
                                       <div class="large-6 columns">
                                          <div class="container" style="background-color: blue;">
                                             <div class="row" *ngFor="let poco of bloco.pocos">
                                                <div class="large-12 columns">
                                                   {{poco.nomePoco}}
                                                </div>
                                             </div>
                                             <!-- /.row -->
                                          </div>
                                       </div>
                                    </div>
                                    <!-- /.row -->
                                 </div>
                              </div>
                           </div>
                           <!-- /.row -->
                        </div>
   
   
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="large-11 columns">
                        <h3 class="project-title">Relatórios e Registros de Poços</h3>
                     </div>

                     <div class="large-12 columns project-content">
                        <div class="row">
                           <div class="large-11 columns">
                              <h4 class="project-title">Pocos</h4>
                           </div>
                        </div>
                        <div class="container">
                           <div class="row">
                              <div class="large-6 columns" *ngFor="let bloco of pacote.bacia.blocos">
   
                                 <div class="container">
                                    <div class="row">
                                       <div class="large-6 columns">
                                          <div class="container">
                                             <div class="row">
                                                <div class="large-12 columns">
                                                   {{bloco.nomeBloco}}
                                                </div>
                                             </div>
                                             <!-- /.row -->
                                          </div>
                                       </div>
                                       <div class="large-6 columns">
                                          <div class="container" style="background-color: blue;">
                                             <div class="row" *ngFor="let poco of bloco.pocos">
                                                <div class="large-12 columns">
                                                   {{poco.nomePoco}}
                                                </div>
                                             </div>
                                             <!-- /.row -->
                                          </div>
                                       </div>
                                    </div>
                                    <!-- /.row -->
                                 </div>
                              </div>
                           </div>
                           <!-- /.row -->
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </div>
         <ul class="small-block-grid-1 large-block-grid-5">
            <li class="article portfolio-item" id="14">
               <figure>
                  <img width="500" height="380" src="assets/images/20.jpg" alt="9862145525_c08b245398_h" />
                  <figcaption class="text-center" (click)="section='infoBasic'">
                     <h3>Informação básica</h3>
                  </figcaption>
               </figure>
               <span class="plus-icon flipOutX"><i class="fa-plus fa" (click)="section='infoBasic'"></i></span>
            </li>
            <li class="article portfolio-item" id="160">
               <figure>
                  <img width="500" height="380" src="assets/images/12.jpg" alt="13tndZF" />
                  <figcaption class="text-center" (click)="section='dadosGeo'">
                     <h3>Dados Geológicos</h3>
                  </figcaption>
               </figure>
               <span class="plus-icon flipOutX"><i class="fa-plus fa" (click)="section='dadosGeo'"></i></span>
            </li>
            <li class="article portfolio-item" id="157">
               <figure>
                  <img width="500" height="380" src="assets/images/13.jpg" alt="1j5JfNg" />
                  <figcaption class="text-center">
                     <h3>Estudos</h3>
                  </figcaption>
               </figure>
               <span class="plus-icon flipOutX"><i class="fa-plus fa"></i></span>
            </li>
            <li class="article portfolio-item" id="153">
               <figure>
                  <img width="500" height="380" src="assets/images/14.jpg" alt="1m7ZhI3" />
                  <figcaption class="text-center">
                     <h3>Mapas</h3>
                  </figcaption>
               </figure>
               <span class="plus-icon flipOutX"><i class="fa-plus fa"></i></span>
            </li>
            <li class="article portfolio-item" id="94">
               <figure>
                  <img width="500" height="380" src="assets/images/15.jpg" alt="1a2n0Ck" />
                  <figcaption class="text-center">
                     <h3>Informação legal</h3>
                  </figcaption>
               </figure>
               <span class="plus-icon flipOutX"><i class="fa-plus fa"></i></span>
            </li>

         </ul>
      </div>
      <!-- END PORTFOLIO/> -->
   </div>
</section>