ng-image-slider ::ng-deep {
    .main {
        min-height: 180px !important;
        max-height: 180px !important;
        .main-inner {
            height: 180px !important;
        }
        .caption.ng-star-inserted{
            background-image: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0,.7),rgba(0, 0, 0,.7),rgba(0, 0, 0,.7),rgba(0,0,0,.7)) !important;
            //background-image: rgba(0, 0, 0, 0.8);
        }

    }
}
.portfolio-page-menu {
    margin-top:2px;
}

.project-images {
    img {
        height: 100%;
        width:100%;
        left: 294px;
        top: 406px;
        border-radius: 10px;
        
    }
}

.scrollable-content {
    width: 100%;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(0);
    padding: 40px;
    margin-top: 40px;
}

.figure-image {
    width: 300px;
    height: 180px;
}

.content-pacote{
    margin: 3px 0;
}

.project-info {
    background: #ffffff;
    margin: 15px 0;
    padding: 20px 20px 30px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-section-57 {
    background: #e5e5e5;
}

.project-title {
    color: black;
    font-size: 21px;
    font-style: normal;
    font-weight:600;
    line-height: 73px;
    letter-spacing: 0em;

}

p {
    text-align: justify !important;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.pricing-table .description {
    background-color: rgba(255, 255, 255, 0.9) !important;
    text-align: justify !important;
    font-size: 0.8em !important;
}

.page-section-57 .site-name{
  font-weight: 600;
  color: #000000;
}

.page-section-57 .showMenu{
  color: #7F1F18!important
}

.page-section-57 .menu-button {
  text-align: right;
}

.tbody-content{
    text-align: center;
    font-size: 20px;
    a{
        font-size: 20px;    
    }
}


