<section class="page-section Blog-page page-section-41 page-section-current">


        <div class="row menu-row div-continer mb-4">
            <div class="col-lg-10 col-md-8 col-sm-12 p-0 mt-3 content-title">
                <h1 class="site-name" translate>
                    gestao_de_dados.title
                </h1>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 p-0 mt-3 columns menu-button">
                <a class="showMenu" routerLink="/"><i class="fa-arrow-left fa icon-x back"></i></a>
                <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>  
            </div>
        </div>




        <div class="row clear-fix div-continer">
            <div class="row content">
                <div class="large-12 columns">
                </div>


               <div class="four large-12 columns">
                    <div class="row">
                       <div class='small-4 columns contact-box space'>
                          <div class='color-9' style="background:#7F1F18">
                            <a routerLink="/">
                                <span class='box-title' translate>pesquisa.title</span>
                                <br />
                                <i class='demo-icon anpg icon-search-location-solid'></i>
                             </a>
                          </div>
                       </div>
                       <div class='small-4 columns contact-box space'>
                          <div class='color-9' style="background:#7F1F18">
                             <a routerLink="/">
                                <span class='box-title' translate>gestao.title</span>
                                <br />
                                <i class='demo-icon anpg icon-clipboard-check-solid'></i>
                             </a>
                          </div>
                       </div>
                       <div class='small-4 columns contact-box space'>
                        <div class='color-9' style="background:#7F1F18">
                           <a routerLink="/">
                              <span class='box-title' translate>bi.title</span>
                              <br />
                              <i class='demo-icon anpg icon-chart-line-solid'></i>
                           </a>
                        </div>
                     </div>
                    </div>
                 </div> 
            </div>
        </div>
</section>




