.page-section-41 .site-name {
  font-weight: 600;
  color: #000000;
}
.page-section-41 .post-body {
  background-color: white;
}
.page-section-41 .post-body h2 {
  margin-top: 10px;
}
.page-section-41 .post-body a {
  color: #000000;
  font-weight: 600;
}
.page-section-41 .blog-page article {
  border: none;
}
.page-section-41 .showMenu {
  color: #7f1f18 !important;
}

.page-section-41 .menu-button {
  text-align: right;
}

.content {
  width: 100%;
}

.Blog-page .contact-box {

  padding: 10px 10px 15px 15px;
  color: white;
  .color-9 {
    text-align: center;
    min-height: 250px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    padding: 45px 10px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .box-title {
      position: inherit;
    }
  }
}

.Blog-page i.demo-icon {
  font-family: Franklin Gothic Demi;
  font-size: 70px;
  color: white !important;
}

.Blog-page span.box-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: white !important;
  text-align: center;
  width: 100%;
  margin-bottom: 7.07%;

}
