<section class="page-section Blog-page page-section-41 page-section-current">


        <div class="row menu-row div-continer mb-4">
            <div class="col-lg-10 col-md-8 col-sm-12 p-0 mt-3 content-title">
                <h1 class="site-name" translate>
                    gestao_de_dados.title
                </h1>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 p-0 mt-3 columns menu-button">
                <a class="showMenu" routerLink="/"><i class="fa-arrow-left fa icon-x back"></i></a>
                <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>  
            </div>
        </div>




        <div class="row d-flex justify-content-center m-auto mw-100 pt-4">
            <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                       <div class='col-lg-4 col-md-12 col-sm-12 contact-box space'>
                          <div class='color-9' style="background:#7F1F18">
                            <a routerLink="/anpg/pesquisa" class="d-flex flex-column">     
                                <i class='demo-icon anpg icon-search-location-solid'></i>
                                <span class='box-title' translate>pesquisa.title</span>
                             </a>
                          </div>
                       </div>
                       <div class='col-lg-4 col-md-12 col-sm-12  contact-box space'>
                          <div class='color-9' style="background:#7F1F18">
                             <a routerLink="/anpg/gestao" class="d-flex flex-column">
                                <i class='demo-icon anpg icon-clipboard-check-solid'></i>
                                <span class='box-title' translate>gestao.title</span>
                             </a>
                          </div>
                       </div>
                       <div class='col-lg-4 col-sm-12 contact-box space'>
                        <div class='color-9' style="background:#7F1F18">
                           <a routerLink="/anpg/bi" class="d-flex flex-column">
                              <i class='demo-icon anpg icon-chart-line-solid'></i>
                              <span class='box-title' translate>bi.title</span>
                           </a>
                        </div>
                     </div>
                    </div>         
            </div>
        </div>
</section>




