<section class="page-section Blog-page page-section-41 page-section-current">
    <div class="row menu-row">
        <div class="large-1 go-back">
            <i class="fa-arrow-left fa icon-x back" routerLink="/"></i>
        </div>
        <div class="large-7 columns p-l-0 content-title">
            <h1 class="site-name">
                Pacotes de Dados
            </h1>
        </div>
        <div class="large-4 columns menu-button text-right">
            <a class="showMenu" routerLink="/"><i class="fa-home fa icon-x back"></i></a>
            <a class="showMenu"><i class="fa-bars fa icon-x back"></i></a>
            <a class="showMenu"><i class="fa-search fa icon-x back"></i></a>
        </div>
    </div>
    <div class="row clear-fix">
        <div class="row  blog-page">
            <div class="view view-blog view-id-blog view-display-id-block view-dom-id-0c4bf026824ced108c3a32120e9abc56">
                <div class="view-content">
                    <!-- Poste -->
                    <ul id="i-scroll" class="small-block-grid-1 large-block-grid-3">
                        <li class="">
                            <article class="article">
                                <a href="#" title="Cassettiera 3 cass noce">
                                    <img width="800" height="380" src="assets/images/21.jpg" alt="some tile" />
                                </a>
                                <div class="post-body">
                                    <h2><a href="#">Cassettiera 3 cass noce</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel justo metus.
                                        Ut sit amet venenatis tellus. Quisque ornare dignissim&hellip;</p>
                                </div>
                            </article>
                        </li>
                        <li class="">
                            <article class="article">
                                <a href="blog.html" title="Maecenas massa eu blandit">
                                    <img width="800" height="380" src="assets/images/22.jpg"
                                        alt="Hawaiian Vacation Sunset Concept" />
                                </a>
                                <div class="post-body">
                                    <h2><a href="#">Maecenas massa eu blandit</a></h2>
                                    <p>Ut a lorem odio. Morbi vulputate nec orci sit amet iaculis. Sed eleifend nisi
                                        lorem, sit amet sagittis nunc volutpat&hellip;</p>
                                </div>
                            </article>
                        </li>
                        <li class="">
                            <article class="article">
                                <a href="#" title="Aenean rutrum dolor nibh">
                                    <img width="800" height="380" src="assets/images/23.jpg"
                                        alt="Business man on the beach" />
                                </a>
                                <div class="post-body">
                                    <h2><a href="index94b0.html?p=48">Aenean rutrum dolor nibh</a></h2>
                                    <p>Etiam diam augue, aliquam vitae aliquet et, sagittis non orci. In hac habitasse
                                        platea dictumst. Nulla eget felis nec ligula&hellip;</p>
                                </div>
                            </article>
                        </li>
                        <li class="">
                            <article class="article">
                                <a href="#" title="Praesent tincidunt vulputate">
                                    <img width="800" height="380" src="assets/images/24.jpg" alt="sparrow-9950_1280" />
                                </a>
                                <div class="post-body">
                                    <h2><a href="#">Praesent tincidunt vulputate</a></h2>
                                    <p>Fusce non hendrerit ante. Curabitur in libero neque. Nulla at vestibulum massa.
                                        Fusce feugiat tellus fermentum lorem cursus, at vestibulum&hellip;</p>
                                </div>
                            </article>
                        </li>
                        <li class="">
                            <article class="article">
                                <a href="#" title="Vestibulum risus nulla">
                                    <img width="800" height="380" src="assets/images/25.jpg"
                                        alt="almond-blossom-5378_1280" />
                                </a>
                                <div class="post-body">
                                    <h2><a href="#">Vestibulum risus nulla</a></h2>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                        Curae; Proin facilisis, velit non fringilla pharetra, elit&hellip;</p>
                                </div>
                            </article>
                        </li>
                        <li class="">
                            <article class="article">
                                <a href="#" title="Hello world!">
                                    <img width="800" height="380" src="assets/images/26.jpg"
                                        alt="seagull-183229_1920" />
                                </a>
                                <div class="post-body">
                                    <h2><a href="#">Hello world!</a></h2>
                                    <p>Welcome to WordPress. This is your first post. Edit or delete it, then start
                                        blogging!</p>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="more-link"></div>
            </div>
        </div>
    </div>
</section>