<section class="page-section Blog-page page-section-41 page-section-current">
    <div class="row menu-row div-continer mb-4">
        <div class="col-lg-10 col-md-8 col-sm-12 p-0 mt-3 content-title">
            <h1 class="site-name" translate>
                sobre_os_dados.title
            </h1>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 p-0 mt-3 columns menu-button">
            <a class="showMenu" routerLink="/"><i class="fa-arrow-left fa icon-x back"></i></a>
            <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
        </div>
    </div>
    <div class="row clear-fix div-continer">
        <div class="row  blog-page w-100">
            <div class="view view-blog w-100">
                <div class="view-content">
                    <div class="project-info">

                        <!--INFORMACION BASICA -->
                        <div class="row">

                            <div class="large-12 columns project-content">
                                <h2 class="project-title" translate>sobre_os_dados.subtitle1</h2>
                            </div>

                            <div class="large-12 columns text-center">
                                <div class="large-6 columns mb-4">
                                    <div class="project-images">
                                        <div class="item-list">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <img alt="13tndZF" class="attachment-project-thumb"
                                                            src="assets/images/image 16sobre nós.png">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-6 columns content-text">
                                    AGÊNCIA NACIONAL DE PETRÓLEO, GÁS E BIOCOMBUSTÍVEIS (ANPG) <br><br>

                                    <p> A Agência Nacional de Petróleo, Gás e Biocombustíveis, abreviadamente designada
                                        por “Agência” ou “ANPG”, foi criada em 2019 por via do Decreto Presidencial n.º
                                        49/19, de 6 de Fevereiro, em resultado do programa de reorganização do sector
                                        petrolífero em Angola. Entre as acções tomadas para a reestruturação do sector,
                                        aprovou-se a transferência da função Concessionária, anteriormente detida pela
                                        Sonangol E.P., para a Agência recém-criada, de forma a assegurar uma maior
                                        coordenação política, aumentar a eficácia dos processos e criar condições para
                                        as actividades de investimento privado na indústria petrolífera nacional.</p>

                                    <p> A ANPG passou a ser a Concessionária Nacional com as atribuições específicas de
                                        regular, fiscalizar e promover a execução das actividades petrolíferas no
                                        domínio das operações e contratação do sector de petróleos, gás e
                                        biocombustíveis. Através do Decreto Presidencial n.º 52/19, de 18 de Fevereiro,
                                        foi aprovada a Estratégia Geral de Atribuição de Concessões Petrolíferas para o
                                        período 2019-2025. </p>

                                    <p> A 18 de Fevereiro foi nomeado o Conselho de Administração (CA) da ANPG, através
                                        do Decreto Presidencial n.º 61/19, e distribuídos os pelouros para cada
                                        administrador. Esta equipa de gestão tem trabalhado na transição da função
                                        Concessionária com o apoio do MIREMPET e na criação de um Plano Estratégico
                                        estável e coerente que dê resposta aos objectivos definidos pelo Executivo para
                                        o sector e para a ANPG.</p>

                                    <p> A transição física dos colaboradores da ANPG foi concluída a 26 de Julho de
                                        2019, tendo sido implementada em duas etapas. A ANPG tem a sua sede em Luanda no
                                        Edifício Torres do Carmo, Torre 2, Rua Lopes de Lima, Distrito Urbano da
                                        Ingombota e conta actualmente com cerca de 600 trabalhadores. </p>

                                </div>

                            </div>

                            <div class="large-12 columns text-center content-card-mvv">
                                <div class="large-4 columns mb-4">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="assets/images/FRUNDO BRANO 2sobre nós.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" translate>sobre_os_dados.missao</h5>
                                            <p class="card-text">Maximizar a criação de valor para o Estado através de
                                                uma gestão eficiente e responsável dos recursos de petróleo e gás.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="assets/images/image 17sobre nós.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" translate>sobre_os_dados.visao</h5>
                                            <p class="card-text">Tornar a ANPG numa entidade de referência
                                                internacional, promovendo um ambiente de negócio de excelência e local
                                                de escolha para os investidores.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="assets/images/image 18sobre nós.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" translate>sobre_os_dados.valores</h5>
                                            <p class="card-text">-Comunicação Efectiva -Trabalho em Equipa e Valorização
                                                do Capital Humano -Transparência -Alto Comprometimento e Respeito pelos
                                                intervenientes (Stakeholders) -Foco em Saúde, Segurança e Ambiente
                                                -Conduta Ética e Integridade.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="project-info project-info-end">

                        <!--INFORMACION BASICA -->
                        <div class="row">

                            <div class="large-12 columns project-content">
                                <h2 class="project-title" translate>sobre_os_dados.subtitle2</h2>
                            </div>

                            <div class="large-12 columns text-center">
                                <div class="large-4 columns mb-4">
                                    <div class="project-images ">
                                        <img alt="13tndZF" class="project-thumb"
                                            src="assets/images/image 19sobre nós.png">
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="project-images">
                                        <img alt="13tndZF" class="project-thumb"
                                            src="assets/images/image 20sobre nós.png">
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="project-images">
                                        <img alt="13tndZF" class="project-thumb"
                                            src="assets/images/image 21sobre nós.png">
                                    </div>
                                </div>
                            </div>
                            <div class="large-12 columns text-center content-card-mais-informacao">
                                <div class="large-4 columns mb-4">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="assets/images/image 22sobre nós.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" translate>sobre_os_dados.objectivos-estrategicos</h5>
                                            <p class="card-text">i. Consolidar e optimizar a função reguladora,
                                                fiscalizadora e concessionária na ANPG;
                                                ii. Impulsionar e intensificar a substituição de reservas, visando
                                                atenuar o declínio acentuado da produção de hidrocarbonetos;
                                                iii. Garantir implementação de políticas de saúde, segurança e ambiente
                                                iv. implementar políticas que visam o desenvolvimento do capital humano.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="assets/images/image 23sobre nós.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" translate>sobre_os_dados.responsabilidade-social</h5>
                                            <p class="card-text">No âmbito dos investimentos de responsabilidade social
                                                previstos pela Lei 10/04, de 12 de Novembro, Lei Geral das Actividades
                                                Petrolíferas, que estabelece que uma parte dos Bónus pagos ao Estado,
                                                resultante dos contratos celebrados, deve ser aplicada em iniciativas de
                                                desenvolvimento regional e local.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="assets/images/image 24sobre nós.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title" translate>sobre_os_dados.ambiente-Segurançca</h5>
                                            <p class="card-text">A ANPG promove um conjunto de iniciativas internas e
                                                abordagens de alinhamento com os Operadores, com vista a contribuir para
                                                melhoria dos aspectos de segurança, saúde ocupacional, e protecção
                                                ambiental no sector. Estas iniciativas incorporam medidas de mitigação e
                                                prevenção de riscos de segurança e derrames, gestão da queima de gás
                                                para níveis cujas emissões atmosféricas tenham mínimo impacto ambiental.
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="project-info-botton">
                        <img class="card-img-top" src="assets/images/image 25sobre nós.png"
                        alt="Card image cap">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>