.page-section-41 .site-name {
    font-weight: 600;
    color: #000000;
  }
  .page-section-41  .post-body {
    background-color: white;
  }
  .page-section-41  .post-body h2 {
    margin-top: 10px;  
   }
  .page-section-41  .post-body a {
   color: #000000;
   font-weight: 600; 
  }
  .page-section-41 .blog-page article {
    border:none
  }
  .page-section-41 .showMenu{
    color: #7F1F18!important
  }

  .page-section-41 .menu-button{
    text-align: right;
  }

  .project-title {
    color: black;
    font-size: 21px;
    font-style: normal;
    font-weight:600;
    line-height: 73px;
    letter-spacing: 0em;
    padding-left: 20px;
}

  .project-images {
    img {
        height: 472px;
        width:524px;
        left: 294px;
        top: 406px;
        border-radius: 10px;
        
    }
    .project-thumb{
      height: 218px;
      width: 398px;
    }
}

.content-text{

  text-align: left;
  p{
    font-size: 14px !important;
    text-align: justify;
    font-family: Franklin Gothic Book !important;
  }
  
}

.project-info{
    background: #ffffff;
    margin: 15px 0;
    padding: 20px 20px 30px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .row{
      padding: 0px 10px 0px 10px;
    }
}

.project-info.project-info-end{
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 1%);
}


.content-card-mvv{

  margin-top: 60px;
  margin-bottom: 80px;
  .card{
    border: 0px;
  }
  .card-img-top{
    margin: auto;
    width: 102px;
    height: 102px;
  }
  .card-title{
    font-family: Franklin Gothic Demi !important;
    font-size: 22px;
    font-weight: 900;
  }
  .card-text{
    font-size: 14px !important;
    text-align: justify;
    font-family: Franklin Gothic Book !important;
  }
}

.content-card-mais-informacao{

  margin-top: 0px;
  margin-bottom: 0px;
  .card{
    border: 0px;
  }
  .card-img-top{
    margin: auto;
    width: 102px;
    height: 102px;
  }
  .card-title{
    font-family: Franklin Gothic Demi !important;
    font-size: 22px;
    font-weight: 900;
  }
  .card-text{
    font-size: 14px !important;
    text-align: justify;
    font-family: Franklin Gothic Book !important;
  }
}

.project-info-botton {
  margin-top: -16px;
}