/* You can add global styles to this file, and also import other style files */


/* fonts */
@import 'assets/css/font-awesome-4-menus/css/font-awesome.min.css';
@import 'assets/css/anpg-site-icon-font/css/anpg-site-icon-font.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700';
@font-face {
  font-family: 'franklin-gothic';
  src: url("../src/assets/fonts/FRABK.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block; }
 @font-face {
  font-family: 'franklin-gothic';
  src: url("../src/assets/fonts/FRADM.TTF") format("truetype");
  font-weight:bold;
  font-style: normal;
  font-display: block; }


/* css */
@import 'assets/css/style.css';
@import 'assets/css/colors.css';
@import 'assets/css/comments.css';
@import 'assets/css/responsiveslides.css';
@import 'assets/css/reponsive.css';
@import 'assets/css/animate-custom.css';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* style for animation enter pages*/
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
/* Global styles for texts*/
p,span,a,h1,h2,h3,h4,h5,h6,small,th,td {
  font-family: 'franklin-gothic';
  font-weight: 400;
}
a:hover {
  text-decoration: none;
}

/* Table styles*/
table td a {
  color: #000
}
table ul {
  list-style: none;
}
table,
.table {
  border: 1px solid #000;
}
table td,
.table td {
  border: 1px solid #000;
  border-top: 1px solid #000;
}

table thead tr th {
	background-color:#7F1F18 ;
	color: white;
	font-weight: 600;
  border-bottom: 1px solid black!important;
  border-top: 1px solid black!important;
}

table.inner-table {
  font-size: 20px;
  margin-bottom: 0;
  border: 0;
  width: 100%;
  & tr td{
    border-top: 0;
    
  }
  & tr td:first-of-type{
    border-left: 0;
    
  }
  & tr td:last-of-type{
    border-right: 0;
    
  }
  & tr:last-of-type td {
    border-bottom: 0;
    max-width: 20px;
  }
}