/* You can add global styles to this file, and also import other style files */


/* fonts */
@import 'assets/css/font-awesome-4-menus/css/font-awesome.min.css';
@import 'assets/css/anpg-site-icon-font/css/anpg-site-icon-font.css';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700';

/* css */
@import 'assets/css/style.css';
@import 'assets/css/colors.css';
@import 'assets/css/comments.css';
@import 'assets/css/responsiveslides.css';
@import 'assets/css/reponsive.css';
@import 'assets/css/animate-custom.css';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* style for animation enter pages*/
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }

