<section class="page-section home-page page-section-current">
   <div class="background-continer">
      <div class="row metro-panel">
         <div class="large-12 columns">
            <div class="row menu-row">
               <div class="large-8 columns">
                  <h1 class="site-name">
                     <a routerLink="/">Plataforma de Dados E&P</a>
                  </h1>
               </div>
               <div class="large-4 columns menu-button text-right">
                  <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
                  <a class="showMenu displayMenu search"><i class="fa-search fa icon-x back"></i></a>
               </div>
            </div>
            <div class="row">
               <div id="before-tiles" class="large-12 columns">
               </div>
               <div class="four large-4 columns">
                  <div class="row">
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-1'>
                           <a routerLink='/anpg/about'>
                              <span class='box-title'>Sobre nós</span>
                              <br />
                              <i class='fa-comment fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-2'>
                           <a href='#Team'>
                              <span class='box-title'>Equipe</span>
                              <br />
                              <i class='fa-users fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='twelve large-12 columns space testimonials-box medium'>
                        <div class='color-3'>
                           <span class='box-title anim'>Testemunhos</span>
                           <ul class='testimonials'>
                              <li>
                                 <blockquote>
                                    <p>To awaken interest and kindle enthusiasm is the sure way to teach easily and
                                       successfully.</p>
                                    <cite>Tryon Edwards</cite>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote>
                                    <p>Any genuine teaching will result, if successful, in knowing how to bring about a
                                       better condition of things than existed earlier.</p>
                                    <cite>John Dewey</cite>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote>
                                    <p>One looks back with appreciation to the brilliant teachers, but with gratitude to
                                       those who touched our human feelings.</p>
                                    <cite>Carl Jung</cite>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote>
                                    <p>The art of handling university students is to make oneself appear, and this
                                       almost ostentatiously, to be treating them as adults&#8230;</p>
                                    <cite>Arnold Joseph Toynbee</cite>
                                 </blockquote>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class='twelve large-12 columns space featured blog-box medium'>
                        <div class='color-4'> <span class='box-title anim'>Postagens</span>
                           <span class='featured-image'>
                              <img width="400" height="400" src="assets/images/1.jpg" alt="some tile" />
                           </span>
                           <span class='featured-box-title'>
                              <a href='#'>Cassettiera 3 cass noce</a>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="four large-4 columns">
                  <div class="row">
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-5'>
                           <a href='https://www.facebook.com/'>
                              <span class='box-title'>Facebook</span>
                              <br />
                              <i class='fa-facebook fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-6'>
                           <a href='https://twitter.com/'>
                              <span class='box-title'>Twitter</span>
                              <br />
                              <i class='fa-twitter fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class="twelve large-12 columns space work-box big">
                        <div>
                           <span class="box-title anim">Projetos em destaque</span>
                           <div class="projects-slider">
                              <ul>
                                 <li>
                                    <a href="#t">
                                       <img width="100%" height="100%" src="assets/images/24-2-2021-4-1200x900.png"
                                          alt="1j5JfNg" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="100%" height="100%" src="assets/images/0.1.sample_galleria_3.jpg"
                                          alt="1m7ZhI3" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/0.sample_favourite_news.jpeg"
                                          alt="1a2n0Ck" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/News_2.jpg"
                                          alt="7714491824_ef36a096ff_b" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/0.4.sample_interviews.jpg"
                                          alt="8364043731_9da828b5c7_h" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/0.1.sample_favourite_mapa.jpg"
                                          alt="almond-blossom-5378_1280" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/Kizomba A_platform.jpg"
                                          alt="Youthful learners" />
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="four large-4 columns">
                  <div class="row">
                     <div class='twelve small-12 columns twitter-feed-box space'>
                        <div class='color-8'>
                           <a routerLink='/anpg/pacotes'>
                              <span class='box-title'>Pacotes de Dados</span>
                              <br />
                              <i class='fa-folder-open fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-9'>
                           <a href='#Portfolio'>
                              <span class='box-title'>Portfólio</span>
                              <br />
                              <i class='fa-briefcase fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-10'>
                           <a href='#Contact'> <span class='box-title'>Contate nos</span>
                              <br />
                              <i class='fa-envelope fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-11'>
                           <a href='#Blog'>
                              <span class='box-title'>Blog</span>
                              <br />
                              <i class='fa-comments-o fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-12'>
                           <a href='#Services'>
                              <span class='box-title'>Serviços</span>
                              <br />
                              <i class='fa-puzzle-piece fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="after-tiles" class="large-12 columns">
               </div>
            </div>
            <div class="copyright">© 2021 Reditus All rights reserved.</div>
         </div>
      </div>
   </div>

</section>