.page-section{
    padding: 0px !important;
}
.home-page.page-section {
    //background-color: white!important;
    background: #ccc1c1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8f9dad, #DBD4B4, #ccc1c1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8f9dad, #DBD4B4, #ccc1c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
   
    transform: none!important;
    position: initial!important;
}



img, object, embed {
    height: 100% !important;
}

.row.metro-panel {
   margin-top: 0px!important;
   margin-bottom: 0px !important;
}

.logo-anpg img {
    width: 120px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.home-page i.demo-icon {
    font-size: 50px;
}

.home-page span.box-title {
    font-size: 15px;
    text-align: center;
    width: 100%;
    left: 0!important;
}

.home-page i.fa-bars {
    border-color: #7F1F18;
    max-width: 32px;
    max-height: 32px;
    justify-content: center;
    display: flex;
}

.home-page i.fa-bars:before {
    color:#7F1F18;
}

.home-page .showMenu i.demo-icon {
    color: #7F1F18;
    font-size: 16px;
    margin: auto;
}

.home-page .copyright {
    color:#7F1F18;
    margin-bottom: 10px;
} 

h1.site-name a {
    color: #7F1F18!important; 
    font-weight: 600;
}

.home-page .bar-btn {
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;

}

.dots-archive-solid:before{
    content: "•••";
    font-size: 24px;
    margin-top: 2px;
    font-style: initial;
    list-style: none;
}