<app-spinner></app-spinner>
<section class="page-section home-page page-section-current">
      <div class="row metro-panel div-continer">
         <div class="large-12 columns">
            <div class="row menu-row">
               <div class="large-8 columns">
                 <div class="logo-anpg">
                    <img src="assets/images/ANPG LOGO-02.png">
                 </div>
                  <h1 class="site-name">
                     <a routerLink="/" translate>home.title</a>
                  </h1>
               </div>
               <div class="large-4 columns menu-button text-right bar-btn">
                  <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
               </div>
            </div>
            <div *ngIf="items && items.length>0" class="row content">
               <div id="before-tiles" class="large-12 columns">
               </div>
               <div class="four large-4 columns">
                  <div class="row">
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-1' [style]="'background:'+items[0].background">
                           <a [routerLink]="items[0].href">
                              <span class='box-title'>{{items[0].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-database-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-2' [style]="'background:'+items[1].background">
                           <a [routerLink]="items[1].href">
                              <span class='box-title'>{{items[1].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-tasks-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class="twelve large-12 columns space work-box big">
                        <div>
                           <span class="box-title anim">Projetos em destaque</span>
                           <div class="projects-slider">
                              <ul>
                                 <li>
                                    <a href="#t">
                                       <img width="100%" height="100%" src="assets/images/20191018_090254-edit.jpg"
                                          alt="1j5JfNg" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="100%" height="100%" src="assets/images/20191018_090406-edited.jpg"
                                          alt="1m7ZhI3" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/20191018_090455-edited.jpg"
                                          alt="1a2n0Ck" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/20191018_090558.jpg"
                                          alt="7714491824_ef36a096ff_b" />
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <img width="400" height="400" src="assets/images/ago0140p01_145_alng-edit.jpg"
                                          alt="8364043731_9da828b5c7_h" />
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>               
                  </div>
               </div>
               <div class="four large-4 columns">
                  <div class="row">
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-5' [style]="'background:'+items[4].background">
                           <a [href]="items[4].href">
                              <span class='box-title'>{{items[4].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-flag-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-6' [style]="'background:'+items[5].background">
                           <a [href]="items[5].href" >
                              <span class='box-title'>{{items[5].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-map-marker-alt-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class='twelve large-12 columns space testimonials-box medium'>
                        <div class='color-3' [style]="'background:'+items[2].background">
                           <span class='box-title anim'>{{items[2].label}}</span>
                           <ul class='testimonials'>
                              <li>
                                 <blockquote>
                                    <p>To awaken interest and kindle enthusiasm is the sure way to teach easily and
                                       successfully.</p>
                                    <cite>Tryon Edwards</cite>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote>
                                    <p>Any genuine teaching will result, if successful, in knowing how to bring about a
                                       better condition of things than existed earlier.</p>
                                    <cite>John Dewey</cite>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote>
                                    <p>One looks back with appreciation to the brilliant teachers, but with gratitude to
                                       those who touched our human feelings.</p>
                                    <cite>Carl Jung</cite>
                                 </blockquote>
                              </li>
                              <li>
                                 <blockquote>
                                    <p>The art of handling university students is to make oneself appear, and this
                                       almost ostentatiously, to be treating them as adults&#8230;</p>
                                    <cite>Arnold Joseph Toynbee</cite>
                                 </blockquote>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class='twelve large-12 columns space featured blog-box medium'>
                        <div class='color-4' [style]="'background:'+items[3].background"> <span class='box-title anim'>{{items[3].label}}</span>
                           <span class='featured-image'>
                              <img width="400" height="400" src="assets/images/1.jpg" alt="some tile" />
                           </span>
                           <span class='featured-box-title'>
                              <a href='#'>Cassettiera 3 cass noce</a>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="four large-4 columns">
                  <div class="row">
                     <div class='twelve small-12 columns twitter-feed-box space'>
                        <div class='color-8' [style]="'background:'+items[6].background">
                           <a [routerLink]="items[6].href">
                              <span class='box-title'>{{items[6].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-archive-solid'></i>
                              <i class="dots-archive-solid"></i>
                              <i class='demo-icon anpg icon-archive-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-9' [style]="'background:'+items[7].background">
                           <a [routerLink]="items[7].href">
                              <span class='box-title'>{{items[7].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-video-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-10' [style]="'background:'+items[8].background">
                           <a [routerLink]="items[8].href"> <span class='box-title'>{{items[8].label}}</span>
                              <br />
                              <i class='demo-icon anpg icon-users-solid'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-11' [style]="'background:'+items[9].background">
                           <a [routerLink]="items[9].href">
                              <span class='box-title'>{{items[9].label}}</span>
                              <br />
                              <i class='fa-question fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                     <div class='six small-6 columns contact-box space'>
                        <div class='color-12' [style]="'background:'+items[10].background">
                           <a [routerLink]="items[10].href">
                              <span class='box-title'>{{items[10].label}}</span>
                              <br />
                              <i class='fa-edit fa fa-4x'></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="after-tiles" class="large-12 columns">
               </div>
            </div>
           <div class="copyright">© 2021 ANPG All rights reserved.</div>
         </div>
      </div>
 
</section>