<app-spinner></app-spinner>
<section class="page-section home-page page-section-current">
   <div class="row metro-panel div-continer">
      <div class="large-12 columns">
         <div class="row menu-row">
            <div class="large-8 columns content-logo">
               <div class="logo-anpg">
                  <img src="assets/images/iona_logo.png">
               </div>
               <h1 class="site-name">
                  <a routerLink="/" translate>home.title</a>
               </h1>
            </div>
            <div class="large-4 columns menu-button text-right bar-btn">
               <a class="showMenu displayMenu"><i class="fa-bars fa icon-x back"></i></a>
            </div>
         </div>
         <div *ngIf="items && items.length>0" class="row content">
            <div id="before-tiles" class="large-12 columns">
            </div>
            <div class="four large-4 columns">
               <div class="row">
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-1' [style]="'background:'+items[0].background">
                        <a *ngIf="items[0].href.includes('http')" [routerLink]="items[0].href" target="_blank">
                           <span class='box-title'>{{items[0].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-database-solid'></i>
                        </a>
                        <a *ngIf="!items[0].href.includes('http')" [routerLink]="items[0].href">
                           <span class='box-title'>{{items[0].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-database-solid'></i>
                        </a>                        
                     </div>
                  </div>
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-2' [style]="'background:'+items[1].background">
                        <a *ngIf="items[1].href.includes('http')" [routerLink]="items[1].href" target="_blank">
                           <span class='box-title'>{{items[1].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-tasks-solid'></i>
                        </a>
                        <a *ngIf="!items[1].href.includes('http')" [routerLink]="items[1].href">
                           <span class='box-title'>{{items[1].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-tasks-solid'></i>
                        </a> 
                     </div>
                  </div>
                  <div class="twelve large-12 columns space work-box big">
                     <div>
                        <span class="box-title anim">Projetos em destaque</span>
                        <div class="projects-slider">
                           <ul>
                              <li>
                                 <a href="#t">
                                    <img width="100%" height="100%" src="assets/images/Home_Image_1.jpg"
                                       alt="1j5JfNg" />
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <img width="100%" height="100%" src="assets/images/Home_Image_2.jpg"
                                       alt="1m7ZhI3" />
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <img width="400" height="400" src="assets/images/Home_Image_3.jpg"
                                       alt="1a2n0Ck" />
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <img width="400" height="400" src="assets/images/Home_Image_4.jpg"
                                       alt="7714491824_ef36a096ff_b" />
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <img width="400" height="400" src="assets/images/Home_Image_5.jpg"
                                       alt="8364043731_9da828b5c7_h" />
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="four large-4 columns">
               <div class="row">
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-5' [style]="'background:'+items[4].background">
                        <a *ngIf="items[4].href.includes('http')" [routerLink]="items[4].href" target="_blank">
                           <span class='box-title'>{{items[4].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-flag-solid'></i>
                        </a>
                        <a *ngIf="!items[4].href.includes('http')" [routerLink]="items[4].href">
                           <span class='box-title'>{{items[4].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-flag-solid'></i>
                        </a> 
                     </div>
                  </div>
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-6' [style]="'background:'+items[5].background">
                        <a *ngIf="items[5].href.includes('http')" [href]="items[5].href" target="_blank">
                           <span class='box-title'>{{items[5].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-map-marker-alt-solid'></i>
                        </a>
                        <a *ngIf="!items[5].href.includes('http')" [href]="items[5].href">
                           <span class='box-title'>{{items[5].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-map-marker-alt-solid'></i>
                        </a>
                     </div>
                  </div>
                  <div class='twelve large-12 columns space testimonials-box medium'>
                     <div class='color-3' [style]="'background:'+items[2].background">
                        <span class='box-title anim'>{{items[2].label}}</span>
                        <ul class='testimonials'>
                           <li>
                              <blockquote>
                                 <p>As licitações, a que daremos início no último trimestre de 2020,
                                    destinam-se a todas as empresas interessadas no desenvolvimento e rentabilização do
                                    sector petrolífero angolano."
                                 </p>
                                 <cite>Paulino Jerónimo, Presidente da ANPG</cite>
                              </blockquote>
                           </li>
                           <li>
                              <blockquote>
                                 <p>o relançamento da exploração e da produção de hidrocarbonetos nas zonas terrestres
                                    das Bacias do Baixo Congo e do Kwanza;</p>
                                 <cite>Quadros seniores da ANPG</cite>
                              </blockquote>
                           </li>
                           <li>
                              <blockquote>
                                 <p>O Zinia Fase 2 é um projecto-chave para Angola e que chega na altura certa para
                                    sustentar a produção do País.</p>
                                 <cite>Paulino Jerónimo, Presidente da ANPG</cite>
                              </blockquote>
                           </li>
                           <li>
                              <blockquote>
                                 <p>o relançamento da exploração e da produção de hidrocarbonetos nas zonas terrestres
                                    das Bacias do Baixo Congo e do Kwanza;...</p>
                                 <cite>Nicolas Terraz, Presidente para África, Exploração e Produção da Total</cite>
                              </blockquote>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class='twelve large-12 columns space featured blog-box medium'>
                     <div class='color-4' [style]="'background:'+items[3].background"> <span
                           class='box-title anim'>{{items[3].label}}</span>
                        <span class='featured-image'>
                           <img width="400" height="400" src="assets/images/Imagem-Relógio-01.png" alt="some tile" />
                        </span>
                        <span class='featured-box-title'>
                           <a href='#'>Atribuição de Concessões Petrolíferas
                              09 de Junho de 2021 - Submissão das Propostas</a>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="four large-4 columns">
               <div class="row">
                  <div class='twelve small-12 columns twitter-feed-box space'>
                     <div class='color-8' [style]="'background:'+items[6].background">
                        <a *ngIf="items[6].href.includes('http')" [routerLink]="items[6].href" target="_blank">
                           <span class='box-title'>{{items[6].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-archive-solid'></i>
                           <i class="dots-archive-solid"></i>
                           <i class='demo-icon anpg icon-archive-solid'></i>
                        </a>
                        <a *ngIf="!items[6].href.includes('http')" [routerLink]="items[6].href">
                           <span class='box-title'>{{items[6].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-archive-solid'></i>
                           <i class="dots-archive-solid"></i>
                           <i class='demo-icon anpg icon-archive-solid'></i>
                        </a>
                     </div>
                  </div>
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-9' [style]="'background:'+items[7].background">
                        <a *ngIf="items[7].href.includes('http')" [routerLink]="items[7].href" target="_blank">
                           <span class='box-title'>{{items[7].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-video-solid'></i>
                        </a>
                        <a *ngIf="!items[7].href.includes('http')" [routerLink]="items[7].href">
                           <span class='box-title'>{{items[7].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-video-solid'></i>
                        </a>
                     </div>
                  </div>
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-10' [style]="'background:'+items[8].background">
                        <a *ngIf="items[8].href.includes('http')" [routerLink]="items[8].href" target="_blank"> 
                           <span class='box-title'>{{items[8].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-users-solid'></i>
                        </a>
                        <a *ngIf="!items[8].href.includes('http')" [routerLink]="items[8].href"> 
                           <span class='box-title'>{{items[8].label}}</span>
                           <br />
                           <i class='demo-icon anpg icon-users-solid'></i>
                        </a>
                     </div>
                  </div>
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-11' [style]="'background:'+items[9].background">
                        <a *ngIf="items[9].href.includes('http')" [routerLink]="items[9].href" target="_blank">
                           <span class='box-title'>{{items[9].label}}</span>
                           <br />
                           <i class='fa-question fa fa-4x'></i>
                        </a>
                        <a *ngIf="!items[9].href.includes('http')" [routerLink]="items[9].href">
                           <span class='box-title'>{{items[9].label}}</span>
                           <br />
                           <i class='fa-question fa fa-4x'></i>
                        </a>
                     </div>
                  </div>
                  <div class='six small-6 columns contact-box space'>
                     <div class='color-12' [style]="'background:'+items[10].background">
                        <a *ngIf="items[10].href.includes('http')" [routerLink]="items[10].href" target="_blank">
                           <span class='box-title'>{{items[10].label}}</span>
                           <br />
                           <i class='fa-edit fa fa-4x'></i>
                        </a>
                        <a *ngIf="!items[10].href.includes('http')" [routerLink]="items[10].href">
                           <span class='box-title'>{{items[10].label}}</span>
                           <br />
                           <i class='fa-edit fa fa-4x'></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div id="after-tiles" class="large-12 columns">
            </div>
         </div>
         <div class="copyright">© 2021 ANPG All rights reserved.</div>
      </div>
   </div>

</section>